version: "3"

services:
  mariadb:
    image: mariadb:12.0
    container_name: system-watch-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: 'system-watch'
    volumes:
      - system_watch_mariadb_data:/var/lib/mysql  # 数据库数据持久化存储
    ports:
      - "33306:3306"  # 暴露 MariaDB 端口
    restart: unless-stopped  # 确保容器失败时重新启动
    networks:
      - system-watch  # 加入 nightwatch 网络

  redis:
    image: bitnami/redis:latest
    container_name: system-watch-redis
    environment:
      - REDIS_PASSWORD=nightwatch
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL # 安全加固
      - ALLOW_EMPTY_PASSWORD=no # 必须设置密码
      - BITNAMI_DEBUG=true # 调试模式（可选）
    command: [
      "redis-server",
      "--requirepass", "system-watch",
      "--dir", "/data",  # 指定持久化目录
      "--dbfilename", "dump.rdb",  # 明确指定文件名（可选）
      "--bind", "0.0.0.0",  # 允许外部连接，监听所有 IP 地址
      "--protected-mode", "no"  # 禁用受保护模式（注意安全性）
    ]
    volumes:
      - system_watch_redis_data:/data
    ports:
      - "36379:6379"  # 暴露 Redis 端口
    restart: unless-stopped  # 确保容器失败时重新启动
    networks:
      - system-watch  # 加入 system-watch 网络
    user: "1001"  # bitnami 镜像默认用户（重要！）

# 定义持久化存储的卷
# 查看持久卷 docker volume ls
# 删除指定持久卷 docker volume rm xxx
# 删除未使用持久卷 docker volume prune
volumes:
  system_watch_mariadb_data:
    driver: local
  system_watch_redis_data:

# 定义网络
networks:
  system-watch:
    driver: bridge

# 启动 docker compose -p nightwatch -f docker-compose.yaml up -d